[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = {extras = ["email"], version = "*"}
bleach = "*"
ptvsd = "*"
anosql = "*"
flask-restful = "*"
pre-commit = "*"
psycopg2 = "*"
python-dotenv = "*"
pyjwt = "*"
flask-bcrypt = "*"
uwsgi = "*"

[dev-packages]
safety = "*"

[requires]
python_version = "3.9"
