[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = {extras = ["email"] }
bleach = "*"
flask-restful = "*"
pyjwt = "*"
bcrypt = "*"
aiosql = "*"
requests = "*"
redis = "*"
hiredis = "*"
cryptography = "*"
gridfs-fuse = "*"
flask-pymongo = "*"
pydantic-settings = "*"
ariadne = "*"
uwsgi = "*"
mysql-connector = "*"
types-redis = "*"
types-bleach = "*"

[dev-packages]
ptvsd = "*"
pylint = "*"
pre-commit = "*"
python-dotenv = "*"
safety = "*"
pytest = "*"
jedi = "*"
pytest-html-reporter = "*"
types-redis = "*"
types-requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.12"
