[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = {extras = ["email"], version = "*"}
bleach = "*"
flask-restful = "*"
pyjwt = "*"
uwsgi = "*"
bcrypt = "*"
ptvsd = "*"
aiosql = "*"
psycopg2 = "*"
requests = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-session = "*"
redis = "*"
hiredis = "*"
cryptography = "*"
flask-fontawesome = "*"

[dev-packages]
pre-commit = "*"
python-dotenv = "*"
safety = "*"

[requires]
python_version = "3.11"
