{% extends 'base.html' %}

{% block head_title %}
accounts
{% endblock head_title%}


{% block content %}

<div class="col-lg-4 col-md-4 col-sm-12">
    <form id="checkCont" action="/Registry/login" method="put" enctype="multipart/form-data">
        <div class="form-group">
            <div><label for="cont">Contact</label></div>
            <input id="cont" type="email" name="cont" class="form-control" placeholder="Enter phone number or Email address" />
            <input type="hidden" name="typ" value="true">
            <div class="err"></div>
        </div>
        <button type="submit" class="btn btn-block btn-success">Reset</button>
    </form>
</div>

{% endblock content %}