
{% extends 'base.html' %}

{% block head_title %}
Welcome
{% endblock %}

{% block content %}

<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div>
        <h2>Welcome to Questarenz</h2>
        <small>Keep going the field is green</small>
    </div>

    <div class="">
        Questarenz is a place of all with freedom of speech and fare trial; to be more relevant on 
        arena it is adviced you create a profile 
        <a href="'/users/app/pix'" class="" >Continue to create profile</a>
        . you can choose to do that letter. 
        <a href="127.0.0.1:5000" class="">Skip to do it latter</a>
    </div>
</div>

{% endblock content %}
