
{% if not standalone %}{% extends 'base.html' %}
{% endif %}

{% block navBar %}
    {% include "components/nav.html" %}
{% endblock %}

{% block content %}
<div class="col-lg-6 offset-lg-2 col-md-6 offset-md-3">
  <form id="logForm" method="post" action="{{url_for('accs.regs.signIn')}}" class="d-block">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="inp-wrap">
      <div><label for="cont">Contact</label></div>
      <input type="text" name="usrCont" class="form-control mr-2" placeholder="Enter phone number or Email address">
    </div>
    <div class="inp-wrap">
        <div><label for="paswd">Password</label></div>
        <input type="password" name="usrPwd" class="form-control uiButton uiBtnColor smlbtn" placeholder="Enter your password">
        <div class="info"><a href="/Accounts/reset">Reset password</a></div>
    </div>
    <input type="submit" class="btn btn-block btn-success" value="Login">
  </form>
</div>
{% endblock %}

<div class="log-in-btn">
  <a href="/accounts/app/signIn" class="nav-link d-block">
      <div class="icon-wrap">
        <img src="/static/icon/avatar.png" class="logbtn"/>
      </div> 
      <div class="ico-txt">Login</div> 
  </a>
</div>