
/* Element css properties */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
  display:block
}
html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}
audio,canvas,video{
  display:inline-block;
}
body{
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
  margin:0px;
  padding:0px 0 20px 0px;
}

img, video{
  width: inherit;
  height: inherit;
}

img{
  border:0;
  -ms-interpolation-mode:bicubic
}
svg:not(:root){
  overflow:hidden
}
figure{
  margin:0
}
html,button,input,select,textarea{
  font-family:sans-serif
}
body{
  margin:0
}

main{
  position: relative;
  top: 100px;
  box-sizing: border-box;
  border:1px solid #e5e5e5;
  border-width:1px 0;
  padding:10px auto;
  margin:0px;
}

.rAside{
  box-sizing: border-box;
  border:1px solid #cbcbcb;
  margin-top:18px;
  margin-right: 10px;
  background:linear-gradient(solid #cbcbcb #fbfbfb);
  margin-top: 60px;
}

a:focus{
  outline:thin dotted
}

a:hover,a:active{
  outline:0
}

/* page head styles */
#pgHeader{
padding:10px 20px 5px 20px;
margin:0;
position:fixed;
display: flex;
justify-content: space-between;
align-items: center;
top:0;
left:0;
right:0;
width:100%;
transition: .3s .3s;
text-align:center;
background:url(/static/media/hdbckgr.jpg) #2ecc71;
box-shadow:1px 0px 2px rgba(0,0,0,0.75);
z-index:99;
-webkit-font-smoothing:antialiased;
min-height:50px;
max-height: 100px;
}

#head-account{
display: flex;
justify-content: space-between;
align-items: center;
}

#logo {
font-family:Georgia;
font-weight:bold;
text-align: center;
text-transform: uppercase;
}

#logo a{
  text-decoration: none;
  font-size: 35px;
  color: #fff;
}

.logo-hom-wrapa{
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo-hom-wrapa .nav-item{
  margin-left: 20px;
}

.log-in-btn{
  height: 50px;
  width: 50px;
  display:  none;
  border-radius: 50%;
  background-color: #fff;
  border: 2px bold green;
}

.icon-wrap{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.ico-txt{
  font-size: 10px;
  font-weight: bold;
  line-height: 0;
  letter-spacing: 0.5px;
}

#head-account div > label{
  text-align: left;
  display: block;
  color: #e5e5e5;
}

.nav-item{
  font-size: 1.48em;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 10px 10px 10px 25px;
}

.nav-item a, .info a{
  color: #fbfbfb;
}

#head-account input[type="text"]{
  margin-bottom: 20px;
}

#head-account input[type="submit"]{
  margin-left: 5px;
}

.info{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: left;
  cursor: pointer;
  margin-left: 5px;
}

.moto {
  color: #0e385f;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  word-spacing: -1px;
}


/* styles for formsS */

input:not([type="submit"]){
  text-align: center;
}