
{% from 'components/inputs.html' import radio, button, select with context %}

<form method="{{ form_attr.get('method') }}" action="{{ form_attr.get('action') }}" {% if form_attr.get("class") %} class="{{ form_attr.get('class') }}" {% endif %} {% if form_attr.get("id") %} id="{{ form_attr.get('id') }}" {% endif %} enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for label, attrs in inputs.items() %}
    {% if attrs.get('labels') %}
    <div>
        <fieldset>
            <legend>
                {{ label }}
            </legend>
            {{ radio( attrs.get('labels'), attrs.get('name')) }}
            {% if note is defined and note.get(name) %} <div class="{{ note.get('class') }}">{{ note.get(name) | safe }}</div> {% endif %}
        </fieldset>
    </div>
    
    {% elif attrs.get('options') %}
    <div>
        <fieldset>
            <legend>
                Academic qualification
            </legend>
            {{ select(attrs.get('options'), attrs.get('name')) }}
            {% if note is defined and note.get(name) %} <div class="{{ note.get('class') }}">{{ note.get(name) | safe }}</div> {% endif %}
        </fieldset>
    </div>
    {% else %}
    {% set name = attrs.get("name") %}
    <fieldset>
    <div class="form-group">
        <div><label for="{{ name }}">{{ label }}</label></div>
        <input
            type="{{ attrs.get('type') }}" name="{{ name }}" class="{{ attrs.get('class') }}" placeholder="{{ attrs.get('placeholder') }}"
            {% if data is defined %} value="{{ data[name] }}" {% endif %} required
        />
        <div class="alert-danger"></div>
        {% if note is defined and note.get(name) %} <div class="{{ note.get('class') }}">{{ note.get(name) | safe }}</div> {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    </fieldset>

    {% set btn_attr = form_attr['button'] %}
    {{ button(btn_attr) }}
</form>