
{% from 'components/macros.html' import input, radcheck, note, button, select with context %}


{% set form_attr, inputs = endpt | formData(fields)() %}
<div class="alert-danger">{% if error and error.form %} {{ error.form }} {% endif %}</div>
<form method="post" action="{{ form_attr.get('action') }}" {% if form_attr.get("class") %} class="{{ form_attr.get('class') }}" {% endif %} {% if form_attr.get("id") %} id="{{ form_attr.get('id') }}" {% endif %} enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for label, attrs in inputs.items() %}
    {% if attrs.type == "checkbox" or attrs.type == "radio" %}
    <div>
        <fieldset>
            {% if label is not string %}
            {% for item in label | unique %}
            {{ radcheck(attrs, item) }}
            {% endfor %}
            {% else %}
            {{ radcheck(attrs, label) }}
            {% endif %}
        </fieldset>
    </div>
    
    {% elif attrs.get('options') %}
    <div>
        <fieldset>
            <legend>
                Academic qualification
            </legend>
            {{ select(attrs.get('options'), attrs.get('name')) }}
        </fieldset>
    </div>
    {% else %}

    <fieldset>
        <legend>
            <label for="attrs.name">{{ label }}</label>
        </legend>
        <div class="form-group">
            <input
                type="{{ attrs.type | default('text', true) }}" name="{{attrs.name }}" class="{{ attrs.get('class', '') }}" 
                placeholder="{{ attrs.placeholder | default('Enter' + ' ' + label, true) }}"
                {% if data %} value="{{ data.get(attrs.name) }}" {% endif %} {% if attrs.required is defined %} required {% endif %}
            />
        </div>
        {% if attrs.note is defined %}
            <div class="">{{ note(attrs.note) }}</div> 
        {% endif %}
        <div class="alert-danger">{% if error and error.get(attrs.name) %} {{ error.get(attrs.name) }} {% endif %}</div>
    </fieldset>
    {% endif %}
    {% endfor %}

    {% set btn_attr = form_attr['button'] %}
    {{ button(btn_attr) }}
</form>
