
<div class="row _5pxML">
  <form id="loga" method="post" action="/accounts/app/signIn" class="form-inline">
    <div class="inp-wrap">
      <div><label for="cont">Contact</label></div>
      <input type="text" name="usrCont" class="form-control mr-2" placeholder="Enter phone number or Email address">
    </div>
    <div class="inp-wrap">
        <div><label for="paswd">Password</label></div>
        <input type="password" name="usrPwd" class="form-control uiButton uiBtnColor smlbtn" placeholder="Enter your password">
        <div class="info"><a href="/accounts/app/reset">Reset password</a></div>
    </div>
    <input type="submit" class="btn btn-success mr-sm-2" value="Login">
  </form>
</div>

<div class="log-in-btn">
  <a href="/accounts/app/signIn" class="nav-link d-block">
      <div class="icon-wrap">
        <img src="/static/icon/avatar.png" class="logbtn"/>
      </div> 
      <div class="ico-txt">Login</div> 
  </a>
</div>