<div id="head-account">
  <div class="nav-item">
    <a href="{{ url_for('accs.regs.regPage') }}" class="nav-link">Register</a>
  </div>

  {% block extra %}
  <div id="loga">
    {% with endpt=endpt, fields=fields %} {% include 'components/form.html' %}
    {% endwith %}
  </div>
  <div class="log-in-btn">
    <a href="/accounts/app/signIn" class="nav-link d-block">
      <div class="icon-wrap">
        <img src="/static/icon/avatar.png" class="logbtn" />
      </div>
      <div class="ico-txt">Login</div>
    </a>
  </div>
  {% endblock extra %}
</div>
