
<div class="row">

    <span class="stats">
    
        <button disabled="disabled" class="btn btn-outline-primary btn-sm">
            <a href="#">
                23
            </a>
        </button>
    
        <button disabled="disabled" class="btn btn-outline-primary btn-sm">
            <a href="#">
                <img src="/static/media/plus.png" />
            </a>
        </button>
            
    </span>
    
    <span class="stats">
        <button disabled="disabled" class="btn btn-outline-primary btn-sm">
            <a href="#">
                23
            </a>
        </button>
    
        <button disabled="disabled" class="btn btn-outline-primary btn-sm">
            <a href="#">
                <img src="/static/media/plus.png" />
            </a>
        </button>
    </span>
    
    <span class="stats">
        <button disabled="disabled" class="btn btn-outline-primary btn-sm">
            <a href="#">
                23
            </a>
        </button>
    
        <button disabled="disabled" class="btn btn-outline-primary btn-sm">
            <a href="#">
                <img src="/static/media/plus.png" />
            </a>
        </button>
    </span>
    
</div>

