{% extends 'base.html' %}

{% block head_title %}
Profile
{% endblock %}

{% block content %}

<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    
    <div class="">
    
        <p>{{ desc | safe }}</p>
        
        {% if data %}
        <div class="prof-form">
        {% include "components/form.html"%}
        </div>

        {% else %}

        <div class="prof-form">
        {% include "components/form.html"%}
        </div>
        
        {% endif %}

    </div>
</div>
<div id="nav-btn" class="gap">
    {% if left_btn_ref %}
    <a href="{{left_btn_ref}}" class="nav-link float-left" id="left-btn">
        <button class="btn btn-outline-success my-2 my-sm-0">Back</button>
    </a>
    {% endif %}
    {% if right_btn_ref %}
    <a href="{{right_btn_ref}}" class="nav-link float-right" id="right-btn">
        <button class="btn btn-outline-success my-2 my-sm-0">Skip</button>
    </a>
    {% endif %}
</div>

{% endblock %}
